<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    {% load static %}
</head>

<body style="position:relative; min-height: 100vh; padding-bottom: 5%; ">

    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-0 border-bottom">
        <p class="d-flex align-items-center col-md-3 mb-2 mb-md-0">
          <img class="img-fluid col-md-3 ms-md-auto" src="{% static 'blog_app/logo_icon.svg' %}"></img>
        </p>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'home' %}" class="nav-link px-2 link-dark">Inicio</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'perfil_usuario' user.get_username %}" class="nav-link px-2 link-dark">Perfil</a></li>
          {% endif %}
        </ul>
  
        <div class="col-md-3 ms-md-auto">
          {% if user.is_authenticated %}
            <a href="{% url 'publicar' %}" class="text-decoration-none"><button type="button" class="btn btn-outline-dark">Publicar</button></a>
            <a href="{% url 'logout' %}" class="text-decoration-none"><button type="button" class="btn btn-outline-dark">Sair</button></a>
          {% else %}
            <a href="{% url 'login' %}" class="text-decoration-none"><button type="button" class="btn btn-outline-dark">Entrar</button></a>
          {% endif %}
        </div>
    </header>
      
      <main class="container">
        <div class="col-md-8 offset-md-2" style=" border-left: 0.2px solid rgba(0, 0, 0, 0.2) ; border-right: 0.2px solid rgba(0, 0, 0, 0.2) ;">
        {% block main %}{% endblock %}
        </div>
      </main>
    <br>
      

    <footer style="position:absolute; bottom: 0; width: 100%;" >
      <hr>
      <p class="text-center text-muted">© 2022 cBlog, Inc</p>
    </footer>

</body>

</html>