{% extends "blog_app/baseLogin.html" %}{% load static %}

{% block titulo %}Cadastrar{% endblock %}

{% block main %}
<form>
    <img class="mb-4" src="{% static 'blog_app/logo_.svg' %}" alt="logo" width="275" height="200">
    <h1 class="h3 mb-3 fw-normal">Cadastre-se</h1>

    <div class="form-floating mb-1">
      <input type="first-name" class="form-control" id="floatingInput" placeholder="Nome">
      <label for="floatingInput">Nome</label>
    </div>
    <div class="form-floating mb-1">
        <input type="last-name" class="form-control" id="floatingInput" placeholder="Sobrenome">
        <label for="floatingInput">Sobrenome</label>
    </div>
    <div class="form-floating mb-1">
      <input type="username" class="form-control" id="floatingInput" placeholder="Usuário">
      <label for="floatingInput">Usuário</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Senha">
        <label for="floatingPassword">Senha</label>
    </div>

    <div class="mb-3"></div>
    
    <button class="w-100 btn btn-lg btn-dark" type="submit">Cadastrar</button>
    <p class="mt-5 mb-3">Já tem login? <a href="../" class="text-decoration-none">Entre</a></p>
    <p class="mt-5 mb-3 text-muted">© 2022 cBlog, Inc</p>
</form>
{% endblock %}