{% extends "blog_app/baseLogin.html" %}{% load static %}

{% block titulo %}Entrar{% endblock %}

{% block main %}
<form>
    <img class="mb-4" src="{% static 'blog_app/logo_.svg' %}" alt="logo" width="275" height="200">
    <h1 class="h3 mb-4 fw-normal">Conecte-se</h1>

    <div class="form-floating mb-1">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Usuário</label>
    </div>
    <div class="form-floating mb-1">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Senha</label>
    </div>

    <div class="mb-3"></div>
    
    <a href="home/"><button class="w-100 btn btn-lg btn-dark" type="button">Entrar</button></a>
    <p class="mt-5 mb-3">Novo por aqui? <a href="cadastro/" class="text-decoration-none">Registre-se</a></p>
    <p class="mt-5 mb-3 text-muted">© 2022 cBlog, Inc</p>
</form>
{% endblock %}