{% extends "blog_app/baseLogado.html" %}{% load static %}
{% block titulo %}Minha Conta{% endblock %}

{% block main %}
{% if messages %}
<ul style="list-style-type:none;" class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="alterar/" method="post">
    <h1 class="h3 mb-4 pt-3 fw-normal">Alterar dados pessoais</h1>
    {% csrf_token %}

    <div class="form-floating mb-1">
      <input type="text" class="form-control" id="id_first_name" name="first_name" placeholder="Nome" value="{{ form.first_name.value }}">
      <label for="id_first_name">Nome</label>
    </div>
    <div class="form-floating mb-1">
        <input type="text" class="form-control" id="id_username" name="username" placeholder="Usuário" value="{{ form.username.value }}">
        <label for="id_username">Usuário</label>
    </div>
    <div class="form-floating mb-1">
      <input type="password" class="form-control" id="id_password1" name="password1" placeholder="Senha">
      <label for="id_password1">Senha</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="id_password2" name="password2" placeholder="Confirmar Senha">
        <label for="id_password2">Confirmação de Senha</label>
    </div>

    <div class="mb-3"></div>
    

    <div class="mb-3"></div>
    
    <button class="w-100 btn btn-lg btn-dark" type="submit">Salvar</button>
</form>
{% endblock %}