{% extends "blog_app/baseLogado.html" %}
{% block titulo %}Minhas Publicações{% endblock %}

{% block main %}
{% if posts %}
<h3 class="pb-4 mb-4 fst-italic border-bottom">
  Publicações de {{posts.first.autor.get_full_name}}
</h3>
{% for post in posts %}
<article class="blog-post">
  <p>{{ post.conteudo }}</p>
  <p class="blog-post-meta"><small>{{ post.criado_em }}</small></p>
  <p>
    <button class="btn btn-secondary shadow-none btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Comentar
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      form
    </div>
  </div>
  <hr>
</article>
{% endfor %}
{% else %}
<article class="blog-post">
  <h6>Este Usuário não publicou nenhum post ainda.</h6>
</article>
{% endif %}
{% endblock %}