{% extends "blog_app/baseLogado.html" %}
{% block titulo %}{{ usuario.get_full_name }} / @{{ usuario.get_username }}{% endblock %}

{% block main %}

<h3 class="mb-2 pt-3 fst-italic" style="margin-left:2%; display: inline-block;">
  {{ usuario.get_full_name }}
</h3>

{% if usuario.get_username != user.get_username and user.is_authenticated %}
  {% if not segue %}
    <form method="post" style="float: right; margin-right: 1%;" class="text-decoration-none mb-2 pt-3">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-dark ">Seguir</button>
    </form>
  {% else %}
    <p style="float: right; margin-right: 1%;" class="text-decoration-none mb-2 pt-3">
      <button class=" btn btn-outline-dark " disabled>Seguindo</button>
    </p>
  {% endif %}
{% endif %}

<hr style="margin-bottom: 8px; ">

{% if object_list %}

  {% for post in object_list %}
    <a href="{% url 'post_detalhes' username=usuario.get_username pk=post.pk %}" style="text-decoration: none; color: black;">
      <article class="blog-post">
        <p class="blog-post-meta" style="display:inline-block; margin-left: 1%; margin-bottom: 1%;">@<strong>{{ post.autor.get_username }}</strong></p>
        <p class="blog-post-meta pt-1" style="float: right; font-size:smaller; margin-bottom: 1%; margin-right: 1%;">· <small>{{ post.criado_em }}</small></p>
        <p style="margin-left:4%; margin-right: 4%; padding-bottom: 1%; opacity: 0.87;">{{ post.conteudo }}</p>
      </article>
    </a>
    <hr style="margin-bottom: 8px; margin-bottom: 8px;">
  {% endfor %}

  {% if page_obj.paginator.num_pages > 1 %}
    <div class="pagination d-flex justify-content-center">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a style="color: black;font-size:smaller;" href="?page=1">&laquo; primeira</a>
              <a style="color: black;font-size:smaller;" href="?page={{ page_obj.previous_page_number }}">anterior</a>
          {% endif %}

          <span class="current">
              Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
              <a style="color: black;font-size:smaller;" href="?page={{ page_obj.next_page_number }}">próxima</a>
              <a style="color: black;font-size:smaller;" href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
          {% endif %}
      </span>
    </div>
    <hr style="margin-bottom: 8px; margin-bottom: 8px;">
  {% endif %}
  
{% else %}
  <article class="blog-post">
    <h6 style="margin-left: 1%;">Este Usuário não publicou nenhum post ainda.</h6>
  </article>
  <hr style="margin-bottom: 8px; margin-bottom: 8px;">
{% endif %}

{% endblock %}