{% extends "blog_app/baseLogado.html" %}
{% block titulo %}Minhas Publicações{% endblock %}

{% block main %}
<h3 class="pb-4 mb-4 fst-italic border-bottom">
  Publicações de {nome do Usuário}
</h3>

<article class="blog-post">
  <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
  <p class="blog-post-meta"><small>{data} por <a href="#">{autor}</a></small></p>
  <p>
    <button class="btn btn-secondary shadow-none btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Comentar
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      form
    </div>
  </div>
  <hr>
</article>
{% endblock %}